.heroSection {
  padding: 20px;
  height: 300px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.backgroundImage {
  z-index: -1;
}

.heroContent {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: var(--text-align, left);
}

.heading {
  font-size: 40px;
  margin: 0;
}

.subheading {
  margin: 0;
}
