.header {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100vw);
  height: 50px;
  background-color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 100;
  border-bottom: 1px solid lightgrey;
}

.headerContent {
  max-width: calc(1024px + 40px);
  margin: 0 auto;
  width: 100%;
}

.app {
  font-family: Manrope, sans-serif;
  width: 100vw;
}

.spacing {
  height: 50px;
}

.footer {
  height: 80px;
}
